# The Intellij changelog plugin uses CRLF for the changelog when it generates the entry
# Use git to normalize it.
*.md text eol=lf

# Code files are LF by default
*.java text eol=lf
*.bnf text eol=lf
*.flex text eol=lf
*.properties text eol=lf
*.yaml text eol=lf
